{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}


{% block app_styles %}
{% endblock %}


{% block app_scripts %}
{% if warning_time and kick_time %}
<div id="inactivity_warning" class="modal fade alert alert-danger" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button id="dismiss-warning" type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h3 class="modal-title">Warning</h3>
      </div>
      <div class="modal-body lead">
        <p>
            You are inactive for more than <strong>{{warning_time}} seconds</strong>,
            if you don't move your mouse or press a key in the next <strong>{{kick_time}} seconds</strong>
            you will be <strong>kicked</strong> of the experiment
        </p>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<script>
function kickUser(){
    $("form#form").hide();
    $("#inactivity_warning").hide();
    $("form#form").parent().append('<div class="text-center lead alert alert-danger">You are currently kicked out of the experiment</div>');
    window.scrollTo(0, 0);
    var url = "{% url 'ajax_political_convention:kick_player' %}";
    var kickUrl = "{% url 'political_convention-views-Kicked' participant_code=participant.code page_index=kick_page_index %}";
    var msgData = {
        session: "{{ session.code }}",
        player: "{{ player.id }}",
        secret_key: "{{ player.secret_key }}",
        csrfmiddlewaretoken: '{{ csrf_token }}'
    };
    $.post(url, msgData, function(data){

        if(data.kicked)
            location.href = kickUrl;
        else
            $("form#form").show();
    });
}

$(document).ready(function(){
    var warningTime = {{warning_time}} * 1000;
    var kickTime = {{kick_time}} * 1000;

    var $modal = $("#inactivity_warning");

    var warningTimer = null;
    var kickTimer = null;

    var dialogSetInterval = function(){
        warningTimer = setInterval(function(){
            $modal.modal("show");
            kickTimer = setInterval(function(){
                kickUser();
            }, kickTime);
        }, warningTime);
    }

    var resetMainTimer = function(){
        clearInterval(warningTimer);
        clearInterval(kickTimer);
        dialogSetInterval();
        $modal.modal("hide");
    }

    {% if p.enable_warning_and_kick %}
    $(document).mousemove(resetMainTimer);
    $(document).mouseup(resetMainTimer);
    $(document).keyup(resetMainTimer);
    resetMainTimer();
    {% endif %}
});
</script>
{% endif %}

{% if p.enable_autokick_button %}
<script>
function doKick(){
    kickUser();
    return false
}

$(document).ready(function(){
    $("form#form").append('<input onclick="doKick();" class="text-center btn btn-danger btn-lg" type="button" value="Kick Me!">');
});
</script>
{% endif %}

{% endblock %}
