{% extends "political_convention/Base.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    Coalition Selection -
    Iteration {{subsession.round_number}}/{{Constants.num_rounds}} -
    Round {{bargain_number}}/{{Constants.p.maximun_number_of_bargaining_rounds_possible}}
{% endblock %}

{% block styles %}
<style>
</style>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <table class="table table-hover">
            <thead>
                <th>Player making offer</th>
                <th>Proposed Coalition</th>
                <th>Payoff Player A</th>
                <th>Payoff Player B</th>
                <th>Payoff Player C</th>
            </thead>
            <tbody>
                {% for p in group.get_players %}
                {% if not p.kicked %}
                <tr>
                    <td>
                        Player {{p.position}}
                        {% if p == player %}
                        <strong class="text-info">(You)</strong>
                        {% endif %}
                    </td>
                    <td>{{p.sugest_coalition_with}}</td>
                    <td>{{p.offer_player_A}}</td>
                    <td>{{p.offer_player_B}}</td>
                    <td>{{p.offer_player_C}}</td>
                </tr>
                {% else %}
                <tr class="alert alert-danger">
                    <td>
                        Player {{p.position}}
                        {% if p == player %}
                        <strong class="text-info">(You)</strong>
                        {% endif %}
                        - <b>KICKED!</b>
                    </td>
                    <td>--</td>
                    <td>--</td>
                    <td>--</td>
                    <td>--</td>
                </tr>
                {% endif %}
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <p class="text-info">Please Select which coalition you want to form:</p>
        <ul>
            {% for cw, or, pid in sugestions %}
            <li>
                <input required type="radio" name="coalition_selected" value="{{pid}}">
                {{cw}} Coalition ({{or}})
            </li>
            {% endfor %}
        </ul>
    </div>
</div>

<div class="row">
    <div class="col-md-1 col-md-offset-11">
        {% next_button %}
    </div>
</div>
{% endblock %}
